.navbar {
    background-color: #80A3A2;
}

.brand{
    color: #fff;
}

.navbar-brand:hover{
    color: rgb(166, 207, 242);
}

.navbar-nav li a.nav-link{
    color: #fff;
}

.navbar-nav li a.nav-link:hover{
    color: rgb(166, 207, 242);
}

.navbar-nav li a.nav-link:active{
    color: #7FA6EE;
}

.copyright{
    background-color: #80A3A2;
    color: #fff;
}

#header{
    /* background: #ECE8D9; */
    background-image: url('../img/tenor-jaguar.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#header .title-header, .info{
    color: #FFFDF6;
}

#header .info{
    text-align: justify;
}

#gallery{
    background: #FFFDF6;
}

#services{
   
    
}

#contact{

}

footer{
    
}

